<form id="CreateDiscussionForm" role="form">
    <div class="control-group">
        <label for="GroupDiscussionMessage">Message:</label>
        <input id="GroupDiscussionMessage" class="form-control" type="text"
               name="group_name" autocomplete="off" placeholder="Required"/>
    </div>

    <br>

    <div class="control-group">
        <label for="GroupDiscussionDescription">Description:</label>
        <input id="GroupDiscussionDescription" class="form-control" maxlength="200" type="text"
               name="description" autocomplete="off" placeholder="Optional"/>
    </div>

    <br>
    <button id="CreateDiscussionBtn" class="btn btn-primary gs-full-width">Create Discussion</button>
</form>